*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: herofont;
    /* box-sizing: border-box; */
}

@font-face {
    font-family: herofont;
    src: url(Drcharmed-8Y1Z.ttf);
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;
    background-color: #000000;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 10px 30px;
}

.desktop-main-menu {
    margin-right: 50px;
    width: 100%;
}

.desktop-main-menu ul {
    display: flex;
    justify-content: space-between;
}

.desktop-main-menu ul li {
    position: relative;
    margin-right: 50px;
    padding-bottom: 2px;
}

.desktop-main-menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition-duration: 0.4s;
}

.banner {
    box-sizing: border-box;
    padding-bottom: 20px;
    /* margin-top: 6%; */
    width: 100%;
    height: 80vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: X 20s linear infinite;
    /* z-index: 2; */
}
@keyframes X{
    0%{
        transform: rotateX(25deg) rotateY(0deg) ;
    }
    50%{
        transform: rotateX(-25deg) rotateY(180deg);
    }
    100%{
        transform: rotateX(25deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    box-shadow: 5px 5px 10px gray, -5px -5px 15px lightblue;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.banner .slider .item img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-inner{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    /* max-width: 560px; */
    color: rgb(255, 255, 255);
    text-align: center;
}
.section-inner h4{
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 700;
    animation-fill-mode: both;
    animation: fadeInUp 0.5s ease-in-out;
    text-align: center;
    text-decoration: underline;
    
}
.section-inner h2{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
    text-align: center;
}

.bd {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.bd::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('backd.jpg') no-repeat center center/cover;
    filter: blur(4px); 
    z-index: -1; 
}
a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#carouselExampleSlidesOnly {
    width: 100VW;
    height: 100vh;
    z-index: -1;
}




#heading1 {
    animation-delay: 0s;
}

#heading2 {
    animation-delay: 0.5s;
}

#heading3 {
    animation-delay: 1s;
}

#heading4 {
    animation-delay: 1.5s;
}

.autoshow {
    animation: autoshow both;
    animation-timeline: view(70% 5%);
}

@keyframes autoshow {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

div>.autoblur {
    opacity: 1;
    text-align: center;
    font-size: 90px;
    animation: autobluranim linear both;
    animation-timeline: view();
}

@keyframes autobluranim {
    0% {
        filter: blur(40px);
    }

    35%,
    65% {
        filter: blur(0px);
    }

    100% {
        filter: blur(40px);
    }
}

.video-background {
    position: relative;
    height: 300px;
    width: 100vw;
    overflow: hidden;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#intro {
    padding: 90px;
}

p {
    text-align: left;
    font-size: 20px;
}

.char_bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.char_bg img {
    height: 100vh;
    width: 100VW;
    /* filter: brightness(50%); */
    z-index: -1;
}

.battle {
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
}

.card {
    border-radius: 8px;
    width: 440px;
    margin: 20px auto;
    overflow: hidden;
    /* Ensures content doesn't overflow */
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}


/* Image container */
.card-images {
    display: flex;
    width: 100%;
    z-index: 2;
}

.card-images img {
    width: 50%;
    /* Each image takes 50% of the card width */
    height: 275px;
    /* Maintain aspect ratio */
    margin: 5px;
    border-radius: 10px;
}

/* Card text */
.card-text {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h3 {
    display: inline;
    text-align: center;
}

.card:hover {
    animation: scale;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 10px red;
}
@keyframes scale{
    0%{
        scale: 1;
    }
    20%{
        scale: 1.01;
    }
    40%{
        scale: 1.02;
    }
    60%{
        scale: 1.03;
    }
    80%{
        scale: 1.04;
    }
    100%{
        scale: 1.05;
    }
}
